*
{
	margin: 0;
	padding: 0;
}

h1
{
	text-align: center;
	background-color: grey;
	padding-bottom: 10px;
	padding-top: 10px;
}

.buton
{
	margin-left: 520px;
}


ul
{
	list-style-type: none; 
	display: flex;
	justify-content: space-between;
	padding-bottom: 50px;
	padding-bottom: 30px;
	background-color: #C7383D;
}

.article {
	border: solid black 2px;

		img {
			width: 500px;
			text-align: center;

	}
}

